.Alert {
    box-sizing: border-box;
    width: 90%;
    position: fixed;
    bottom: 12px;
    z-index: 999;
    background-color: #efb6b2;
    color: white;
    margin: 0 5%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
}

.Alert svg {
    cursor: pointer;
}

.Alert svg:hover {
    color: black;
}
