.Container {
    width: 80vw;
    max-width: 935px;
    height: 50vw;
    margin: 60px auto;
    background-color: white;
    display: flex;
    z-index: 1000;
}
.ImgWrapper {
    width: 50vw;
    max-width: 584px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.Info {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 351px;
}
.Header {
    display: flex;
    align-items: center;
    padding: 18px 10px;
    border-bottom: 1px solid #ddd;
}
.Img {
    width: 10%;
    border-radius: 50%;
}
.Username {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.Details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .Container {
        flex-direction: column;
        max-height: 160vw;
    }

    .ImgWrapper {
        width: 80vw;
        max-width: 613px;
        height: 80vw;
    }

    .Info {
        background-color: #fff;
        width: 80vw;
        max-width: 613px;
        max-height: 60vw;
    }
}
