.Container {
    display: flex;
    align-items: flex-start;
}

.Content {
    padding-top: 4px;
}

.Username {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.InnerList {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.InnerList > li,
.InnerList > div {
    padding-left: 40px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.Placeholders {
    padding-left: 0 !important;
    text-align: center;
    color: #ccc;
    font-size: 12px;
    cursor: pointer;
}
