.ForgotPassword {
    background-image: url("/images/forgotpass-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Error {
    font-size: 14px;
    color: red;
}

.Separator {
    border-width: 0;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.Links {
    color: #00376b;
    display: block;
    margin-bottom: 10px;
}
