.FormContainer {
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    overflow: auto;
}

.FileInput {
    display: block;
    width: 30%;
    height: 30px;
    border: 1px solid #efb6b2;
    margin: 10px auto;
    line-height: 30px;
    color: #efb6b2;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.FileInput:hover {
    background: #efb6b2;
    color: white;
}

.FileInput input {
    height: 0;
    width: 0;
    opacity: 0;
}

.SubmitButton {
    width: 100%;
    background-color: #4cb5f9;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.TextArea {
    resize: none;
    width: 100%;
    overflow-y: auto;
}

.Adjust,
.Error {
    text-align: center;
    display: block;
    margin: 8px 0;
}

.Adjust {
    color: #ccc;
}

.Error {
    color: #ff0000;
}
